<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TradeHub</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    
      <header class="Toppage">
        <h1>
          <button>
            <img id="mainlogo" src="../images/TradeHub_Logo.jpg" alt="text">
          </button>

        </h1>
        <nav class="right-align">

          {{#if logged_in}}
          <a href="/profile">profile</a> |
          <button class="no-button" id="logout">logout</button>
          {{else}}
          <a id="Login" href="/Login">Login</a>
          {{/if}}
        </nav>
        </header>
   
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>