<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TradeHub</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    
    <nav>
    <div class="nav-wrapper blue-grey darken-1">
      
      <a href="/"><img src="../assets/images/TradeHub_Logo.jpg"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/profile">Login</a></li>
      </ul> 
          </div>  
    </div>

    {{#if logged_in}}
          <a href="/profile">profile</a> |
          <button class="no-button right-aligned" id="logout">logout</button>
          {{else}}
      
          {{/if}}
  </nav>
   <nav>
    <div class="nav-wrapper blue-grey darken-1">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
       
        </header>
   
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>