a.card-item-name {
  font-size: xx-large;
  font-weight: 450;
  text-decoration: none;
  color: black;
}

a.card-item-name:hover {
  text-shadow: 1px 1px grey;
}

a.card-item-name:active {
  text-decoration: underline;
}

.items-list {
  padding-top: 10%;
}


